<html>
<head>
    <title>Hangman | Delete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>Guesses Deleted!</h1>
    <form action='/' method='get'>
        <button class='btn btn-lg btn-primary' type='submit'>Back</button>
    </form>
</body>
</html>