<html>
<head>
    <title>Hangman | Guess</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>Guess a Letter</h1>  

    <form action='/results' method='post'>
        <label for='guesses'>Guess a Letter</label>
        <input id='guesses' name='guesses' type='text' maxlength='1'>

        <button class='btn btn-success' type='submit'>Guess</button>
    </form>
    <form action='/delete_guesses' method='post'>
        <button class='btn btn-danger' type='submit'>Clear Guesses</button>
    </form>
</body>
</html>